*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul.todo-list {
  padding: 20px;
  margin: 0;
  counter-reset: section;
}
ul.todo-list li{
  width: 100%;
    text-align: right;
    position: relative;
}
ul.todo-list li span {
  float: left;
  margin-top: 7px;
}
/* 
ul.todo-list li::before{
  position: absolute;
  counter-increment: section ; 
  content:  counters(section, ".") ;
} */